@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');

body{
    background-color: #25272E;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Asap', sans-serif;
    text-align: center;
    color: white;
    min-width: 450px;
    
}

header{
    background-color: white;
    width: 100%;
}
header>h1{
    color: #25272E;
   
}

.score-board{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: 2px solid white;
    width: auto;
    height:120px;
    color: white;
    margin-top: 50px;

    font-size: 25px;
}

.badge{
    background-color: lightsalmon;
    padding: 5px 4px;
    border-radius: 10px;
    color: #25272E;
    font-weight: bold;
}

#player-label{
    margin-left:-25px ;
}
#computer-label{
    margin-right:  -45px; ;
}

.choices{
    display: flex;
    gap: 50px;
}


.btn{
    width: 120px;
    height: 120px;
    background-color: red;
    
}

.btn:hover{
    background-color: lightcoral;
}

img{
    width: 100%;
}

.result>p{
    font-weight: bold;
    font-size: 40px;
}

div > p{
    
    font-size: 18px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .show-modal{
    display: block;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
  }

  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }